header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.title {
    background: #4f5d75;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dda15e;
    padding: 1rem;
}

.nav{
    display: flex;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    font-style: italic;
}
